body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
    display: block;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    height: 14vh;
    padding: 0vh;
}

.nav ul, .nav li {
  display: inline-block;
  padding: 0vh;
}

.nav-left {
  line-height: 14vh;
  margin-left: 4vw;
  margin-top: 0vh;
}

.nav-left li {
  padding-right: 1vw;
}

.nav-right {
  float: right;
  line-height: 14vh;
  margin-top: 0vh;
  margin-right: 4vw;
}

.nav-right li {
  padding-left: 10vw;
}

#sidebar {
  background-color: #EEE5E9;
  display: inline-block;
  height: 86vh;
  width: 19vw;
}

#simulation-area {
  display: inline-block;
  float: right;
  height: 86vh;
  width: 79vh;
}