body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
    display: block;
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    height: 13vh;
    padding: 0vh;
}

.nav ul, .nav li {
  display: inline-block;
  padding: 0vh;
}

.nav-left {
  line-height: 13vh;
  margin-left: 1.5vw;
  margin-top: 0vh;
}

.nav-left li {
  padding-right: 1vw;
  height: 13vh;
}

.nav .logo {
  display: inline-block;
  margin-top: 1.5vh;
  margin-right: 2vw;
  padding: 0vh;
  height: 10vh;
  width: 10vh;
}

.nav-right {
  float: right;
  line-height: 13vh;
  margin-top: 0vh;
  margin-right: 1.5vw;
}

.nav-right li {
  padding-left: 10vw;
}

#sidebar {
  background-color: #EEE5E9;
  display: inline-block;
  float: left;
  height: 86vh;
  margin-right: 0px;
  width: 19vw;
}

h1 {
  background-color: #800000;
  color: #ffffff;
  display: block;
  font-size: 26px;
  margin: auto;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
  width: 16vw;
}

h2, h3 {
  margin-left: 1.5vw;
}

#simulation-area {
  display: inline-block;
  height: 86vh;
  margin: 0px;
  width: 79vw;
}